body{
    background-color: #dadada;
}

#texto1 , #texto2{
    width: 50%;
    margin-bottom: 5px;
}

#button{
    width: 15%;
}

#divTexto1{
    background-color: #ffffff;
    width: 48%;
    height: 80%;
    position: relative;
    float: left;
    line-height: 40px;
    font-size: 25px;
}


#divtexto2{
    background-color: #ffffff;
    width: 48%;
    height: 80%;
    position: relative;
    float: right;
}
